body{
    background-color: #f2f5f8;
    font-family: 'Roboto', sans-serif;
}

#form{
    background-color: white;
    border-color: #d9e1e9;
}

#btn1{
    background-color: #f05b25;
    color: white;
    transition: 0.2s;
}

#btn2{   
    background-color: #657480;
    color: white;
    transition: 0.2s;
}

#btn1:hover, #btn2:hover{
    filter: brightness(115%);    
}

/* результаты */

#alert{
    background-color: #fff3ee;
    color: #f05b25;    
}

#results .alert{
    background-color:white;
    transition: 0.2s;
}

#results .alert:hover{   
    border-color: #657480;
    border-color: #d9e1e9;
}

#results button{    
    background-color: #657480;
    color: white;
    transition: 0.2s;
}

#results button:hover{
    background-color: #f05b25;
}